Some pseudo code:

Long signals
```
# Entry long signal:

close_price > senkou_a & close_price > senkou_b

# Exit signal

close_price < kijun_sen

# Additional exit

ROI settings bot
```

Short signals
```
# Entry long signal:

close_price < senkou_a & close_price < senkou_b

# Exit signal

close_price > kijun_sen

# Additional exit

ROI settings bot
```

In [1]:
# Load necessary modules
import pandas as pd
import pandas_ta as pta
from pandas import DataFrame
import numpy as np

# Let's first create dataframe 3 from the original candle data
dataframe = pd.read_json("./data/BTC_USDT-1d.json")
dataframe.columns=['date','open','high','low','close','volume']
dataframe['date']=(pd.to_datetime(dataframe['date'],unit='ms'))

# Specify the lenghts for each indicator (20, 60, 120, 60 is for crypto trading)

TS = 9
KS = 26
SS = 52
CS = 26
OS = 0

# Then add a column for each Ichimoku indicator output to that dataset.
# Each column represents the output of the First Ichimoku Variable tuple and its specific column.
dataframe['tenkan'] = pta.ichimoku(high=dataframe['high'], low=dataframe['low'], close=dataframe['close'], tenkan=TS, kijun=KS, senkou=SS, offset=OS)[0][f'ITS_{TS}']
dataframe['kijun'] = pta.ichimoku(high=dataframe['high'], low=dataframe['low'], close=dataframe['close'], tenkan=TS, kijun=KS, senkou=SS, offset=OS)[0][f'IKS_{KS}']
dataframe['senkou_a'] = pta.ichimoku(high=dataframe['high'], low=dataframe['low'], close=dataframe['close'], tenkan=TS, kijun=KS, senkou=SS, offset=OS)[0][f'ISA_{TS}']
dataframe['senkou_b'] = pta.ichimoku(high=dataframe['high'], low=dataframe['low'], close=dataframe['close'], tenkan=TS, kijun=KS, senkou=SS, offset=OS)[0][f'ISB_{KS}']
dataframe['chikou'] = pta.ichimoku(high=dataframe['high'], low=dataframe['low'], close=dataframe['close'], tenkan=TS, kijun=KS, senkou=SS, offset=OS)[0][f'ICS_{KS}']

In [2]:
dataframe

,date,open,high,low,close,volume,tenkan,kijun,senkou_a,senkou_b,chikou
0,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,NaN,NaN,NaN,NaN,4163.72
1,2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,NaN,NaN,NaN,NaN,3944.69
2,2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,NaN,NaN,NaN,NaN,3189.02
3,2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,NaN,NaN,NaN,NaN,3700.00
4,2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,NaN,NaN,NaN,NaN,3714.95
...,...,...,...,...,...,...,...,...,...,...,...
1833,2022-08-24,21529.11,21900.00,21145.00,21368.08,174383.220460,22604.305,22986.61,22125.69,24474.610,NaN
1834,2022-08-25,21368.05,21819.88,21310.15,21559.04,169915.783010,22604.305,22986.61,22238.36,24161.000,NaN
1835,2022-08-26,21559.04,21886.77,20107.90,20241.05,273811.619550,21853.950,22659.61,22238.36,24002.400,NaN
1836,2022-08-27,20239.14,20402.93,19800.00,20037.60,162582.460320,21504.335,22505.66,22238.36,23531.205,NaN
1837,2022-08-28,20037.60,20171.18,19520.00,19555.61,139307.959760,20710.000,22365.66,22238.36,23083.480,NaN

In [3]:
dataframe['long_signal'] = (dataframe['close'] > dataframe['senkou_a']) & (dataframe['close'] > dataframe['senkou_b'])

# And show the signals with:
dataframe[['date','close','senkou_a','senkou_b','long_signal']][dataframe['long_signal']==True].tail(25)

           date     close    senkou_a   senkou_b  long_signal
1678 2022-03-22  42364.13  39753.8825  40237.355         True
1679 2022-03-23  42882.76  39657.5675  39993.585         True
1680 2022-03-24  43991.46  38856.3600  39369.085         True
1681 2022-03-25  44313.16  38727.4700  39369.085         True
1682 2022-03-26  44511.27  39672.8500  39369.085         True
1683 2022-03-27  46827.76  39853.6400  39369.085         True
1684 2022-03-28  47122.21  39966.3900  39369.085         True
1685 2022-03-29  47434.80  39966.3900  39369.085         True
1686 2022-03-30  47067.99  39966.3900  39369.085         True
1687 2022-03-31  45510.34  40635.8200  39369.085         True
1688 2022-04-01  46283.49  40635.8200  39369.085         True
1689 2022-04-02  45811.00  40635.8200  39369.085         True
1690 2022-04-03  46407.35  40569.3200  39369.085         True
1691 2022-04-04  46580.51  40569.3200  39369.085         True
1692 2022-04-05  45497.55  40569.3200  39369.085         True
1693 2022-04-06  43170.47  40244.6000  39369.085         True
1694 2022-04-07  43444.19  39867.8350  39369.085         True
1695 2022-04-08  42252.01  39867.8350  39369.085         True
1696 2022-04-09  42753.97  39867.8350  39369.085         True
1697 2022-04-10  42158.85  39867.8350  39369.085         True
1699 2022-04-12  40074.94  39967.8350  40071.640         True
1700 2022-04-13  41147.79  39900.5750  40071.640         True
1702 2022-04-15  40551.90  39919.3200  40071.640         True
1703 2022-04-16  40378.71  39919.3200  40071.640         True
1706 2022-04-19  41493.18  41362.3425  40071.640         True

In [4]:
dataframe['short_signal'] = (dataframe['close'] < dataframe['senkou_a']) & (dataframe['close'] < dataframe['senkou_b'])

# And let's show the short signals:
dataframe[['date','close','senkou_a','senkou_b','long_signal','short_signal']][dataframe['short_signal']==True].tail(25)

           date     close    senkou_a   senkou_b  long_signal  short_signal
1785 2022-07-07  21624.98  30071.0475  34838.000        False          True
1786 2022-07-08  21594.75  29321.1600  33678.655        False          True
1787 2022-07-09  21591.83  27004.0450  31361.540        False          True
1788 2022-07-10  20862.47  26464.1600  30821.655        False          True
1789 2022-07-11  19963.61  26052.9600  30454.465        False          True
1790 2022-07-12  19328.75  25987.3650  30454.465        False          True
1791 2022-07-13  20234.87  25830.5600  30242.125        False          True
1792 2022-07-14  20588.84  24506.4500  28997.315        False          True
1793 2022-07-15  20830.04  24270.8525  28822.885        False          True
1794 2022-07-16  21195.60  24046.9900  28822.885        False          True
1795 2022-07-17  20798.16  23634.7100  28822.885        False          True
1796 2022-07-18  22432.58  22751.4700  28822.885        False          True
1802 2022-07-24  22579.68  22728.1675  26568.110        False          True
1803 2022-07-25  21310.90  22761.5375  25932.575        False          True
1804 2022-07-26  21254.67  22475.4100  25140.495        False          True
1828 2022-08-19  20834.39  21914.5225  24693.820        False          True
1829 2022-08-20  21140.07  21982.3725  24693.820        False          True
1830 2022-08-21  21515.61  22010.2450  24693.820        False          True
1831 2022-08-22  21399.83  22010.2450  24693.820        False          True
1832 2022-08-23  21529.12  22010.2450  24605.800        False          True
1833 2022-08-24  21368.08  22125.6900  24474.610        False          True
1834 2022-08-25  21559.04  22238.3600  24161.000        False          True
1835 2022-08-26  20241.05  22238.3600  24002.400        False          True
1836 2022-08-27  20037.60  22238.3600  23531.205        False          True
1837 2022-08-28  19555.61  22238.3600  23083.480        False          True

In [5]:
dataframe

,date,open,high,low,close,volume,tenkan,kijun,senkou_a,senkou_b,chikou,long_signal,short_signal
0,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,NaN,NaN,NaN,NaN,4163.72,False,False
1,2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,NaN,NaN,NaN,NaN,3944.69,False,False
2,2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,NaN,NaN,NaN,NaN,3189.02,False,False
3,2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,NaN,NaN,NaN,NaN,3700.00,False,False
4,2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,NaN,NaN,NaN,NaN,3714.95,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,2022-08-24,21529.11,21900.00,21145.00,21368.08,174383.220460,22604.305,22986.61,22125.69,24474.610,NaN,False,True
1834,2022-08-25,21368.05,21819.88,21310.15,21559.04,169915.783010,22604.305,22986.61,22238.36,24161.000,NaN,False,True
1835,2022-08-26,21559.04,21886.77,20107.90,20241.05,273811.619550,21853.950,22659.61,22238.36,24002.400,NaN,False,True
1836,2022-08-27,20239.14,20402.93,19800.00,20037.60,162582.460320,21504.335,22505.66,22238.36,23531.205,NaN,False,True
1837,2022-08-28,20037.60,20171.18,19520.00,19555.61,139307.959760,20710.000,22365.66,22238.36,23083.480,NaN,False,True

In [6]:
dataframe['long_exit'] = (dataframe['close'] < dataframe['kijun']) & (dataframe['long_signal'] == True)
dataframe[['date','close','kijun','senkou_a','senkou_b','long_signal','long_exit']][dataframe['long_signal']==True][dataframe['long_exit']==True].tail(25)

C:\Users\Bas\AppData\Local\Temp\ipykernel_13408\2239681854.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dataframe[['date','close','kijun','senkou_a','senkou_b','long_signal','long_exit']][dataframe['long_signal']==True][dataframe['long_exit']==True].tail(25)

,date,close,kijun,senkou_a,senkou_b,long_signal,long_exit
1340,2021-04-18,56150.01,57640.780,54619.3575,47007.835,True,True
1341,2021-04-19,55633.14,57640.780,54168.4925,47070.080,True,True
1342,2021-04-20,56425.00,57892.650,53850.3825,47631.000,True,True
1482,2021-09-07,46863.73,47881.525,40024.4100,37774.235,True,True
1483,2021-09-08,46048.31,47881.525,40595.6750,38582.000,True,True
1484,2021-09-09,46395.14,47881.525,41354.9650,38711.000,True,True
1485,2021-09-10,44850.91,47881.525,42054.2550,38711.000,True,True
1486,2021-09-11,45173.69,47881.525,42693.7500,38711.000,True,True
1487,2021-09-12,46025.24,47881.525,42747.8300,38711.000,True,True
1488,2021-09-13,44940.73,47881.525,43364.7850,38711.000,True,True
1489,2021-09-14,47111.52,47881.525,43477.2800,38711.000,True,True
1491,2021-09-16,47737.82,47881.525,44956.1950,39517.520,True,True
1492,2021-09-17,47299.98,47881.525,45193.6200,39517.520,True,True
1494,2021-09-19,47241.75,47881.525,45565.1000,39889.000,True,True
1552,2021-11-16,60058.87,63410.000,57229.2975,53300.000,True,True
1553,2021-11-17,60344.87,63410.000,57892.9825,53300.000,True,True
1556,2021-11-20,59707.51,62300.000,58593.2925,53300.000,True,True
1695,2022-04-08,42252.01,42872.420,39867.8350,39369.085,True,True
1696,2022-04-09,42753.97,43144.085,39867.8350,39369.085,True,True
1697,2022-04-10,42158.85,43509.160,39867.8350,39369.085,True,True
1699,2022-04-12,40074.94,43694.920,39967.8350,40071.640,True,True
1700,2022-04-13,41147.79,43694.920,39900.5750,40071.640,True,True
1702,2022-04-15,40551.90,43694.920,39919.3200,40071.640,True,True
1703,2022-04-16,40378.71,43694.920,39919.3200,40071.640,True,True
1706,2022-04-19,41493.18,43363.175,41362.3425,40071.640,True,True

In [7]:
dataframe['short_exit'] = (dataframe['close'] > dataframe['kijun']) & (dataframe['short_signal'] == True)

In [8]:
# No LONG entries when price is below Senkou A, Senkou B and Kijun sen
dataframe['long_signal'] = (dataframe['close'] > dataframe['senkou_a']) & (dataframe['close'] > dataframe['senkou_b']) & (dataframe['close'] > dataframe['kijun'])

# No SHORT entries when price is above Senkou A, Senkou B and Kijun sen
dataframe['short_signal'] = (dataframe['close'] < dataframe['senkou_a']) & (dataframe['close'] < dataframe['senkou_b']) & (dataframe['close'] < dataframe['kijun'])

In [9]:
dataframe

,date,open,high,low,close,volume,tenkan,kijun,senkou_a,senkou_b,chikou,long_signal,short_signal,long_exit,short_exit
0,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,NaN,NaN,NaN,NaN,4163.72,False,False,False,False
1,2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,NaN,NaN,NaN,NaN,3944.69,False,False,False,False
2,2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,NaN,NaN,NaN,NaN,3189.02,False,False,False,False
3,2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,NaN,NaN,NaN,NaN,3700.00,False,False,False,False
4,2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,NaN,NaN,NaN,NaN,3714.95,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,2022-08-24,21529.11,21900.00,21145.00,21368.08,174383.220460,22604.305,22986.61,22125.69,24474.610,NaN,False,True,False,False
1834,2022-08-25,21368.05,21819.88,21310.15,21559.04,169915.783010,22604.305,22986.61,22238.36,24161.000,NaN,False,True,False,False
1835,2022-08-26,21559.04,21886.77,20107.90,20241.05,273811.619550,21853.950,22659.61,22238.36,24002.400,NaN,False,True,False,False
1836,2022-08-27,20239.14,20402.93,19800.00,20037.60,162582.460320,21504.335,22505.66,22238.36,23531.205,NaN,False,True,False,False
1837,2022-08-28,20037.60,20171.18,19520.00,19555.61,139307.959760,20710.000,22365.66,22238.36,23083.480,NaN,False,True,False,False

In [10]:
# LONG positions where long signal is True and trade exit signal is False
dataframe[['date','close','kijun','senkou_a','senkou_b','long_signal','long_exit']][dataframe['long_signal']==True][dataframe['long_exit']==False].tail(50)

C:\Users\Bas\AppData\Local\Temp\ipykernel_13408\1923287809.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dataframe[['date','close','kijun','senkou_a','senkou_b','long_signal','long_exit']][dataframe['long_signal']==True][dataframe['long_exit']==False].tail(50)

,date,close,kijun,senkou_a,senkou_b,long_signal,long_exit
1527,2021-10-22,60688.22,53876.940,45240.8000,46260.000,True,False
1528,2021-10-23,61286.75,53876.940,45123.2075,46260.000,True,False
1529,2021-10-24,60852.22,53876.940,44866.8125,46260.000,True,False
1530,2021-10-25,63078.78,54205.085,44330.0000,46260.000,True,False
1531,2021-10-26,60328.81,55141.515,44571.3475,46260.000,True,False
1532,2021-10-27,58413.44,56945.500,45422.5000,46260.000,True,False
1533,2021-10-28,60575.89,56945.500,45422.5000,46260.000,True,False
1534,2021-10-29,62253.71,56945.500,44701.5400,46260.000,True,False
1535,2021-10-30,61859.19,58011.200,44855.5600,46260.000,True,False
1536,2021-10-31,61299.80,58691.205,46031.6200,46260.000,True,False
1537,2021-11-01,60911.11,60178.500,47963.4700,47675.000,True,False
1538,2021-11-02,63219.99,60308.805,47963.4700,47675.000,True,False
1539,2021-11-03,62896.48,60330.835,48302.5425,47850.000,True,False
1540,2021-11-04,61395.01,60439.500,48770.7575,47850.000,True,False
1541,2021-11-05,60937.12,60439.500,49903.4050,48080.655,True,False
1542,2021-11-06,61470.61,60439.500,50542.2700,48719.520,True,False
1543,2021-11-07,63273.59,60583.595,50542.2700,48719.520,True,False
1544,2021-11-08,67525.83,62303.525,51075.1200,48719.520,True,False
1545,2021-11-09,66947.66,62687.125,51761.8725,49066.270,True,False
1546,2021-11-10,64882.43,63410.000,54705.7500,51266.500,True,False
1547,2021-11-11,64774.26,63410.000,54770.9025,51266.500,True,False
1548,2021-11-12,64122.23,63410.000,55023.2650,51266.500,True,False
1549,2021-11-13,64380.00,63410.000,55105.0000,51266.500,True,False
1550,2021-11-14,65519.10,63410.000,55881.5000,52043.000,True,False
1551,2021-11-15,63606.74,63410.000,57157.2500,53300.000,True,False
1656,2022-02-28,43160.00,40071.640,38047.3450,42502.585,True,False
1657,2022-03-01,44421.20,40071.640,38047.3450,42502.585,True,False
1658,2022-03-02,43892.98,40071.640,38674.1275,42502.585,True,False
1672,2022-03-16,41114.00,39861.140,41002.2925,40732.715,True,False
1674,2022-03-18,41757.51,39861.140,41019.8525,40732.715,True,False
1675,2022-03-19,42201.13,39861.140,40719.8525,40453.585,True,False
1676,2022-03-20,41262.11,39861.140,40769.3525,40453.585,True,False
1677,2022-03-21,41002.25,39861.140,40793.1000,40243.585,True,False
1678,2022-03-22,42364.13,41200.000,39753.8825,40237.355,True,False
1679,2022-03-23,42882.76,41200.000,39657.5675,39993.585,True,False
1680,2022-03-24,43991.46,41200.000,38856.3600,39369.085,True,False
1681,2022-03-25,44313.16,41277.500,38727.4700,39369.085,True,False
1682,2022-03-26,44511.27,41277.500,39672.8500,39369.085,True,False
1683,2022-03-27,46827.76,42077.000,39853.6400,39369.085,True,False
1684,2022-03-28,47122.21,42672.420,39966.3900,39369.085,True,False
1685,2022-03-29,47434.80,42672.420,39966.3900,39369.085,True,False
1686,2022-03-30,47067.99,42672.420,39966.3900,39369.085,True,False
1687,2022-03-31,45510.34,42672.420,40635.8200,39369.085,True,False
1688,2022-04-01,46283.49,42672.420,40635.8200,39369.085,True,False
1689,2022-04-02,45811.00,42872.420,40635.8200,39369.085,True,False
1690,2022-04-03,46407.35,42872.420,40569.3200,39369.085,True,False
1691,2022-04-04,46580.51,42872.420,40569.3200,39369.085,True,False
1692,2022-04-05,45497.55,42872.420,40569.3200,39369.085,True,False
1693,2022-04-06,43170.47,42872.420,40244.6000,39369.085,True,False
1694,2022-04-07,43444.19,42872.420,39867.8350,39369.085,True,False

In [11]:
# short positions where short signal is True and trade exit signal is False
dataframe[['date','close','kijun','senkou_a','senkou_b','short_signal','short_exit']][dataframe['short_signal']==True][dataframe['short_exit']==False].tail(50)

C:\Users\Bas\AppData\Local\Temp\ipykernel_13408\3603606998.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dataframe[['date','close','kijun','senkou_a','senkou_b','short_signal','short_exit']][dataframe['short_signal']==True][dataframe['short_exit']==False].tail(50)

,date,close,kijun,senkou_a,senkou_b,short_signal,short_exit
1746,2022-05-29,29468.10,33361.885,39885.1725,42788.110,True,False
1747,2022-05-30,31734.22,33272.755,39745.0925,42788.110,True,False
1749,2022-06-01,29805.83,31423.150,38466.1575,41723.920,True,False
1750,2022-06-02,30452.62,31107.110,38142.4425,41487.420,True,False
1751,2022-06-03,29700.21,30471.575,37606.9175,40951.895,True,False
1756,2022-06-08,30204.77,30209.280,34055.3775,37444.920,True,False
1757,2022-06-09,30109.93,30209.280,33262.9075,37444.920,True,False
1758,2022-06-10,29091.88,30209.280,33130.5750,37444.920,True,False
1759,2022-06-11,28424.70,30209.280,32972.5550,37444.920,True,False
1760,2022-06-12,26574.53,29479.500,32110.1150,37444.920,True,False
1761,2022-06-13,22487.41,27162.385,31714.0750,37444.920,True,False
1762,2022-06-14,22136.41,26622.500,31589.9750,37398.235,True,False
1763,2022-06-15,22583.72,26255.310,31414.3275,37200.110,True,False
1764,2022-06-16,20401.31,26255.310,31896.8275,37150.000,True,False
1765,2022-06-17,20468.81,26255.310,31790.6575,37072.055,True,False
1766,2022-06-18,18970.79,25010.500,31796.7750,37072.055,True,False
1767,2022-06-19,20574.00,25010.500,31676.7850,37072.055,True,False
1768,2022-06-20,20573.89,25010.500,31541.6525,36950.000,True,False
1769,2022-06-21,20723.52,25010.500,31380.1650,36950.000,True,False
1770,2022-06-22,19987.99,25010.500,31380.1650,36103.570,True,False
1771,2022-06-23,21110.13,25010.500,31380.1650,35335.310,True,False
1772,2022-06-24,21237.69,25010.500,31353.4600,35335.310,True,False
1773,2022-06-25,21491.19,25010.500,31696.7675,35055.150,True,False
1774,2022-06-26,21038.07,24802.485,30948.5475,35055.150,True,False
1775,2022-06-27,20742.56,24693.820,30816.2150,34838.000,True,False
1776,2022-06-28,20281.29,24693.820,30658.1950,34838.000,True,False
1777,2022-06-29,20123.01,24693.820,30340.4275,34838.000,True,False
1778,2022-06-30,19942.21,24693.820,30010.2225,34838.000,True,False
1779,2022-07-01,19279.80,24693.820,29987.0000,34838.000,True,False
1780,2022-07-02,19252.81,24605.800,30084.3025,34838.000,True,False
1781,2022-07-03,19315.83,24474.610,30509.1300,34838.000,True,False
1782,2022-07-04,20236.71,24161.000,30509.1300,34838.000,True,False
1783,2022-07-05,20175.83,24002.400,30405.1225,34838.000,True,False
1784,2022-07-06,20564.51,23531.205,30258.5500,34838.000,True,False
1785,2022-07-07,21624.98,23083.480,30071.0475,34838.000,True,False
1786,2022-07-08,21594.75,22258.920,29321.1600,33678.655,True,False
1789,2022-07-11,19963.61,20308.865,26052.9600,30454.465,True,False
1790,2022-07-12,19328.75,20074.685,25987.3650,30454.465,True,False
1803,2022-07-25,21310.90,21451.370,22761.5375,25932.575,True,False
1804,2022-07-26,21254.67,21528.870,22475.4100,25140.495,True,False
1828,2022-08-19,20834.39,22958.910,21914.5225,24693.820,True,False
1829,2022-08-20,21140.07,22958.910,21982.3725,24693.820,True,False
1830,2022-08-21,21515.61,22986.610,22010.2450,24693.820,True,False
1831,2022-08-22,21399.83,22986.610,22010.2450,24693.820,True,False
1832,2022-08-23,21529.12,22986.610,22010.2450,24605.800,True,False
1833,2022-08-24,21368.08,22986.610,22125.6900,24474.610,True,False
1834,2022-08-25,21559.04,22986.610,22238.3600,24161.000,True,False
1835,2022-08-26,20241.05,22659.610,22238.3600,24002.400,True,False
1836,2022-08-27,20037.60,22505.660,22238.3600,23531.205,True,False
1837,2022-08-28,19555.61,22365.660,22238.3600,23083.480,True,False